# system files
.DS_Store
Thumbs.db

# data files
data/

# python cache files
__pycache__/
*.pyc

# model checkpoints
checkpoints/

# jupyter notebook checkpoints
.ipynb_checkpoints/

# virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/